*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.glass-card {
  width: 240px;
  height: 360px;

}

.home-container{
    width: 50%;
    margin: auto;
    /* border: 1px solid black; */
    min-height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    position: sticky;
    top: 12px;
    /* background-color: aqua; */
    padding:1rem 0.5rem;
    margin-top: 1rem;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 6px 3px rgba(255, 255, 255, 0.3);
}

.logo>img{
    /* width: 3rem; */
    height: 2rem;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.nav-menu>a{
    text-decoration: none;
    color: black;
}

.nav-menu>a>p{
    padding: 0.3rem 1rem;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    background-color: #ffffff57;
}

.nav-cta{
    padding: 0.3rem 1rem;
    border: 0.5px solid #D0D5DD;
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    font-family: "IBM Plex Mono", monospace;
}

.nav-cta:hover{
    border: 0.5px solid rgba(0, 0, 0, 0.401);
    transition: all 0.5s;
}

.nav-cta>button{
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.8rem;
    backdrop-filter: blur(20px);
    background-color: #ffffff57;
}



/* hero section css starts here */



.hero-section{
    padding-top: 120px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 40px;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: blink 1.5s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 5px rgba(0, 200, 0, 0.3);
}

.indicator1{
    background: #009c0f;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 0.3px;
    top: 0.5px;
    border: 1.5px solid white;
}

.indi1{
    position: relative;
}

.indi{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
    margin-left: 5px;
    border-radius: 20px;
    margin-bottom: -10px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.indi>span{
    color: #838893;
}

@keyframes blink {
  0%, 100% { background-color: rgba(60, 255, 0, 0.377); }
  50% { background-color: rgba(17, 255, 0, 0.1); }
}


.hero-heading>h1{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 48px;
} 

.hero{
    color: #98A2B3;
}

.hero-cta{
    background-color: #5b5fde;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 24px;
    border: none;
    border-radius: 25px;
    font-family: "IBM Plex Mono", monospace;
}


/* project css start here */

.projects-container{
    padding-top: 70px;
    margin-bottom: 80px;
}

.projects-container>p{
    font-family: "IBM Plex Mono", monospace;
    margin-bottom: 32px;
    color: #475467;
    font-size: 14px;
}

.project-img>img{
    width: 100%;
    border-radius: 0.5rem;
}

.project-info{
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-info p{
    margin-top: 22px;
    font-size: 13px;
    font-family: "IBM Plex Mono", monospace;
}

.project-info h2{
    margin-top: 10px;
    font-weight: 400;
    font-size: 28px;
}

.project-info span{
    color: #70747E;
}

.circle{
    background-color: #5B5FDE;
    color: white;
    padding: 1px 10px;
    padding-bottom: 3px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 7px;
}

.circle:hover{
    background-color: #5b5fdeb9;
}

.project-card{
    margin-bottom: 85px;
}

.project-btn{
    border: 1px solid #D0D5DD;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 1.4rem;
    cursor: pointer;
    font-family: "IBM Plex Mono", monospace;
}

.project-btn:hover{
    border: 1px solid black;
}


/* about css start here */

.about-container{
    padding-top: 96px;
    
}

.about-container>p{
    font-family: "IBM Plex Mono", monospace;
    margin-bottom: 32px;
    color: #475467;
    font-size: 14px;
}

.about-card>img{
    width: 6rem;
    border-radius: 50%;
}

.about-card{
    display: flex;
    margin-bottom: 187px;
    gap: 4rem;
    align-items: start;
}

.about-info>p{
    font-size: 23px;
    font-family: "Inter", sans-serif;
    margin-top: 8px;
    line-height: 33px;
    font-weight: 500;
}

.about-btn{
    margin-top: 40px;
    display: flex;
    gap: 1rem;
    font-family: "Inter", sans-serif;
}

.about-btn>a{
    cursor: pointer;
}

.about-btn>a:hover{
    color: rgba(0, 0, 0, 0.625);
}


/* experience css start here */

.exp-container{
    margin-bottom: 192px;
}

.exp-container>p{
    font-family: "IBM Plex Mono", monospace;
    margin-bottom: 32px;
    color: #475467;
    font-size: 14px;
}

.exp-container>ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.exp-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
}

.exp-card img{
    width: 25px;
    border-radius: 10px;
}

.exp-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.exp-info>span{
    cursor: pointer;
}

.exp-info>span:hover{
    color: rgba(0, 0, 0, 0.496);
}

.exp-text{
     display: flex;
     justify-content: space-between;
     width: 68%;
}

.exp-text>span{
    color: #475467c9;
}


/* cta css start here */

.cta-container{
    margin-bottom: 96px;
}

.cta-container>p{
    font-size: 40px;
    font-family: "Inter", sans-serif;
}

.cta-btn{
    background-color: black;
    color: white;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 30px;
    font-family: "IBM Plex Mono", monospace;
    cursor: pointer;
}

.cta-btn:hover{
    background-color: rgba(0, 0, 0, 0.841);
}


/* footer css start here */

footer{
    margin-bottom: 96px;
    display: flex;
    flex-direction: column;
}

.footer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.footer-info>ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 13px;
}

.footer-info>ul>li{
    cursor: pointer;
}

.footer-info>ul>li:hover{
    color: rgba(0, 0, 0, 0.589);
}

.caret-input{
    margin-top: 48px;
    display: flex;
    align-items: center;
    font-family: "IBM Plex Mono", monospace;
}

.input {
  width: 300px;
  font-size: 1rem;
  color: #adb2bc;
  padding: 3px 0;
}

.caret {
  width: 2.3px;
  height: 1.5em;
  background: black;
  animation: blink 0.9s infinite;
  margin-left: 3px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
